<%modal  = modal || false%>
<%action = action || "/dbox"%>

<%= form_for(:dbox, url: action, method:"post") do |f| %>

    <%if modal==true%>
    <div class="modal fade" id="<%=id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Novo Projeto</h4>
          </div>
          <div class="modal-body">

<div class="alert alert-warning" role="alert">
    Suporte somente para Imagens ainda!
</div>

    <%end%>

			<%= f.label :nome %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :descrição %>
			<%= f.text_field :description, class: 'form-control' %>

			<%= f.label :file %>
			<%= f.file_field :bitstream %>

    <%if modal==true%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%end%>

            <%= f.submit "Novo", class: "btn btn-primary" %>

    <%if modal==true%>
          </div>
        </div>
      </div>
    </div>
    <%end%>

<% end %>
