<div class="container content profile">
    <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
            <%= render 'shared/menus/group' %>
        </div>
        <div class="col-md-9">
            <div class="profile-body">

                <h1>
                    <%for group in @group.mothers%>
                        <%=link_to(group.name,group.path)%> ::
                    <%end%>
                    <%if @group.acronym != ""%>
                        <%=@group.acronym%> -
                    <%end%>
                    <%=@group.name%>
                </h1>


				<h1> Caixa </h1>
				<div class="table-search-v1 margin-bottom-20">
					<div class="table-responsive">
						<table class="table table-hover table-bordered table-striped">
							<thead>
								<tr>
									<th> De </th>
									<th> Dia </th>
									<th> Valor </th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>




				<h1> Entrada </h1>
				<div class="table-search-v1 margin-bottom-20">
					<div class="table-responsive">
						<table class="table table-hover table-bordered table-striped">
							<thead>
								<tr>
									<th> De </th>
									<th> Descrição </th>
									<th> Finalidade </th>
									<th> Data </th>
									<th> Valor </th>
								</tr>
							</thead>
							<tbody>
								<%Edge::SendMoney.all_in(@group).each do |edge|%>
									<tr>
										<td><%=link_to(edge.from.name,edge.from.path)%></td>
										<td class="td-width"><%=edge.description%></td>
										<td></td>
										<td><%=edge.date%></td>
										<td><%=edge.value%></td>
									</tr>
								<%end%>

							</tbody>
						</table>
					</div>
				</div>

				<h1> Saida </h1>
				<div class="table-search-v1 margin-bottom-20">
					<div class="table-responsive">
						<table class="table table-hover table-bordered table-striped">
							<thead>
								<tr>
									<th> Para </th>
									<th> Motivo </th>
									<th> Dia </th>
									<th> Valor </th>
								</tr>
							</thead>
							<tbody>

								<%Edge::SendMoney.all_out(@group).each do |edge|%>
									<tr>
										<td>
											<%=link_to(edge.to.name,edge.to.path)%>
										</td>
										<td class="td-width"><%=edge.description%></td>
										<td><%=edge.date%></td>
										<td><%=edge.value%></td>
									</tr>
								<%end%>

							</tbody>
						</table>
					</div>
				</div>

            </div>
        </div>
    </div>
</div>
