<div class="itemvert">
	<img class="img-responsive" src="<%=node.thumbnail%>" width=180>
	<h3><a href="<%=node.path%>"><%=node.name%></a></h3>
	<img class="img-circle" width=32 src="<%=node.publisher.thumbnail%>"> <%=node.publisher.name%>
</div>
